@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-color: #19232d;

    background-size: cover;
}

.logo {
    height: 50px;
    width: 75px;
}

.social-logo {
    background-color: #5a7184;
    color: #959ead;
    height: 70px;
    width: 70px;
    text-align: center;
    border-radius: 35px;
    font-size: 25px;
    padding-top: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.para {
    color: #959ead;
    font-size: 25px;
    font-family: "Roboto";
}

.text-color {
    color: #959ead;
}

.text-size {
    font-size: 22px;
    font-family: "Roboto";

}

.color {
    height: 2px;
    background-color: #959ead;
}