@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-color: #ffffff;
    background-size: cover;

}

.main-heading {
    color: #183b56;
    font-family: "Roboto";
    font-weight: 800;
    font-size: 40px;
}

.first-card {

    border-radius: 5px;
}

.para-one {
    color: #959ead;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 20px;
}

.heading-one {
    color: #183b56;
    font-family: "Roboto";
    font-weight: 900;
    font-size: 30px;
}

.para-two {
    color: #959ead;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 25px;
}

.para-three {
    color: #ff9f00;
    font-family: "Roboto";
    font-weight: 900;
    font-size: 20px;
}